body {
    font-family: sans-serif;
  }
  
  .main {
    display: block;
    margin: auto;
    max-width: 600px;
  }
  
  h1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  